$gray-900: #1C1C1F;
$gray-800: #262629;
$gray-700: #2D2D30;
$gray-600: #343538;
$gray-500: #3E3F42;
$gray-400: #545559;
$gray-300: #6E797A;
$gray-200: #868E8F;
$gray-100: #C4CBCC;

$light-gray: #E3EAEB;

$black: #000000;
$white: #FFFFFF;

$primary-teal: #47BCC6;
$dark-teal: #23363A;

// Blurry Animated shadow colors
$shadow-blue: #4F95FF;
$shadow-light-blue: #44CEE3;
$shadow-pink: #B120BD;

$border-radius-4: .25rem;
$border-radius-6: .375rem;
$border-radius-8: .5rem;
$border-radius-10: .625rem;
$border-radius-12: .75rem;
$border-radius-14: .875rem;
$border-radius-16: 1rem;
$border-radius-24: 1.5rem;

$font-weight-Thin: 100;
$font-weight-Extra-light: 200;
$font-weight-Light: 300;
$font-weight-Normal: 400;
$font-weight-Medium: 500;
$font-weight-Semi-bold: 600;
$font-weight-Bold: 700;
$font-weight-Extra-bold: 800;
$font-weight-Black: 900;

$folderStructureWidth: 18rem;